body 
{
    color:rgb(0, 21, 255);
    background:orange;
}

.heading
{
    width: 80;
    font-size: 24px;
}

#camera
{
    border: 2px dashed black;
    width: 400px;
    height: 300px;
}


